@using VelzonModerna.ViewModels
@model CategoriaProdutoViewModel

<div class="form-group">
    <label asp-for="Descricao" class="control-label"></label>
    <input asp-for="Descricao" class="form-control" placeholder="Digite a descrição..." />
    <span asp-validation-for="Descricao" class="text-danger"></span>
</div>