<div class="col-xl-4">
    <div class="card card-height-100">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Top Vendedores</h4>
            <div>
                <button type="button" class="btn btn-soft-secondary btn-sm">
                    ALL
                </button>
                <button type="button" class="btn btn-soft-primary btn-sm">
                    1M
                </button>
                <button type="button" class="btn btn-soft-secondary btn-sm">
                    6M
                </button>
            </div>
        </div>

        <div class="card-body p-0">
            <div>
                <div id="topten_vendedores"
                     data-colors='["--vz-success", "--vz-info", "--vz-warning", "--vz-info", "--vz-danger", "--vz-info", "--vz-success", "--vz-info", "--vz-primary", "--vz-info"]'
                     class="apex-charts" dir="ltr"></div>
            </div>
        </div><!-- end card body -->
    </div><!-- end card -->
</div> <!-- end col-->